{% extends 'base.html.twig' %}


{% block title %}
    <h1>List Of Workers</h1>
{% endblock %}
{% block section %}
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Default Table</h5>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for worker in listOfWorkers %}
                                <tr>
                                    <th scope="row">{{ worker.id }}</th>
                                    <td>{{ worker.name }}</td>
                                    <td>{{ worker.lastName }}</td>
                                    <td>{{ worker.email }}</td>
                                    <td>{{ worker.phone }}</td>
                                    <td>
                                        <a href="{{ path('worker.update', {id : worker.id}) }}" class="link-warning" style="text-decoration: none">
                                            <i class="fa-solid fa-user-pen"></i>
                                        </a>

                                        <a href="{{ path('worker.delete', {id : worker.id}) }}"
                                           onclick="return confirm('you will delete this worker');"
                                           class="link-danger" style="text-decoration: none">
                                            <i class="fa-solid fa-user-xmark"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

