{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block section %}
    {{ form_start(f) }}
    <div class="row">
        <div class="col">{{ form_row(f.activityType) }}</div>
        <div class="col">{{ form_row(f.activityGoal) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(f.activityDueDate) }}</div>
        <div class="col" required>{{ form_row(f.fundingRecieved) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(f.activityFunder) }}</div>
    </div>


    {% if demandType == 'patient' or isEdit %}
    <div class="row">
        <div class="col">{{ form_row(f.targetPatient) }}</div>
    </div>
    {% endif %}
    {% if demandType == 'project' %}
    <div class="row">
        <div class="col">{{ form_row(f.targetProject) }}</div>
    </div>
    {% endif %}

    {% if isEdit %}
        <div class="row">
            <div class="col">{{ form_row(f.edit) }}</div>
        </div>
    {% endif %}

    {% if not isEdit %}
        <div class="row">
            <div class="col">{{ form_row(f.save) }}</div>
        </div>
    {% endif %}

{% endblock %}

