{% extends 'base.html.twig' %}

{% block title %}
    <h1>List Of Demands</h1>
{% endblock %}
{% block header %}
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="#" class="logo d-flex align-items-center">
                <img src="{{ asset('assets/img/eya.png') }}" alt="">
                <span class="d-none d-lg-block">Eya's Association</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <div class="search-bar">
            <form class="search-form d-flex align-items-center"
                  method="POST">
                <input type="text" name="keyword" placeholder="Search" title="Enter search keyword">
                <button type="submit" onclick="location.href = {{ path('demand.list') }};" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <!-- End Search Bar -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#">
                        <span class="d-none d-md-block p-3">{{ app.user.firstName }}</span>
                    </a><!-- End Profile Image Icon -->
                {% endif %}
            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
{% endblock %}
{% block section %}
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    {% if is_granted("ROLE_WORKER") %}
                        <div class="dropdown show">
                            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Demand Type <i class="fa-solid fa-square-plus"></i>
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('demand.add', {'value':'patient'}) }}">Demand Patient</a>
                                <a class="dropdown-item" href="{{ path('demand.add', {'value':'project'}) }}">Demand Project</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Activity Due Date</th>
                            <th scope="col">Activity Type</th>
                            <th scope="col">Activity Goal</th>
                            <th scope="col">Funder</th>
                            <th scope="col">Funding Recieved</th>
                            {% if is_granted("ROLE_WORKER") %}
                            <th scope="col">Action</th>
                            {% endif %}
                            {% if not is_granted("ROLE_WORKER") %}
                            <th scope="col">Demand Status</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for demand in listOfDemands %}
                            <tr>
                                <th scope="row">{{ demand.id }}</th>
                                <td>{{ demand.activityDueDate | date('d-m-Y')}}</td>
                                <td>{{ demand.activityType }}</td>
                                <td>{{ demand.activityGoal }}</td>
                                <td>{{ demand.activityFunder }}</td>
                                <td>{{ demand.fundingRecieved }}</td>
                                {% if is_granted("ROLE_WORKER") %}
                                <td>
                                    <a href="{{ path('demand.update', {id : demand.id}) }}" class="link-warning" style="text-decoration: none">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </a>
                                    <a href="{{ path('demand.delete', {id : demand.id}) }}"
                                       onclick="return confirm('you will delete this demand');"
                                       class="link-danger" style="text-decoration: none">
                                        <i class="fa-solid fa-user-xmark"></i>
                                    </a>
                                </td>
                                {% endif %}
                                {% if not is_granted("ROLE_WORKER") %}
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Decision
                                        </button>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('demand.update.status', {'id' : demand.id, 'value':'accept'}) }}">Accept</a>
                                            <a class="dropdown-item" href="{{ path('demand.update.status', {'id' : demand.id, 'value':'refuse'}) }}">Refuse</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('demand.update.status', {'id' : demand.id, 'value':'ceo'}) }}">Accept and send to CEO</a>
                                        </div>
                                        {% endif %}

                                        {% if is_granted('ROLE_CEO') %}
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{{ path('demand.update.status', {'id' : demand.id, 'value':'acceptToSG'}) }}">Accept and send to SG</a>
                                                <a class="dropdown-item" href="{{ path('demand.update.status', {'id' : demand.id, 'value':'refuse'}) }}">Refuse</a>
                                            </div>
                                        {% endif %}

                                        {% if is_granted('ROLE_SG') %}
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{{ path('demand.update.status', {'id' : demand.id, 'value':'accept'}) }}">Accept</a>
                                                <a class="dropdown-item" href="{{ path('demand.update.status', {'id' : demand.id, 'value':'refuse'}) }}">Refuse</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}



