{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block section %}
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('worker.add') }}" class="btn btn-primary mt-3 mb-3">
                        Add Worker
                        <i class="fa-solid fa-square-plus"></i>
                    </a>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Role</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for worker in listOfWorkers %}
                            <tr>
                                <th scope="row">{{ worker.id }}</th>
                                <td>{{ worker.firstName }}</td>
                                <td>{{ worker.lastName }}</td>
                                <td>{{ worker.email }}</td>
                                <td>{{ worker.phone }}</td>
                                <td>{{ worker.roles | join(', ') }}</td>
                                <td>
                                    <a href="{{ path('worker.update', {id : worker.id}) }}" class="link-warning" style="text-decoration: none">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </a>


                                    <!-- Button trigger modal -->
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-danger" style="text-decoration: none">
                                        <i class="fa-solid fa-user-xmark"></i>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    are you sure you're going to delete this worker ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger">
                                                        <a href="{{ path('worker.delete', {id : worker.id}) }}" style="text-decoration: none">
                                                            delete
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
