{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block section %}
    {{ form_start(f) }}
    <div class="row">
        <div class="col">{{ form_row(f.name) }}</div>
        <div class="col">{{ form_row(f.phone) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(f.email) }}</div>
        <div class="col">{{ form_row(f.address) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(f.funderType) }}</div>
    </div>
    {% if isEdit %}
        <div class="row">
            <div class="col">{{ form_row(f.edit) }}</div>
        </div>
    {% endif %}

    {% if not isEdit %}
        <div class="row">
            <div class="col">{{ form_row(f.save) }}</div>
        </div>
    {% endif %}

{% endblock %}

